@import '../../styles/reset.scss';

@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
@mixin pa-ma-border-bottom {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.review {
  // background-color: white;
  // width: 75%;
  // border-radius: 5px;
  // @include pa-ma-border-bottom;
  .score {
    display: flex;
    margin-bottom: 30px;
    h2 {
      margin-left: 10px;
    }
  }
  .search_bar {
    @include flex-align-center;
    width: 500px;
    border-radius: 10px;
    border: 2px solid #f7f7f7;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    padding: 5px;
    input {
      width: 100%;
      border: none;
      background-color: #f7f7f7;
      margin-left: 5px;
    }
  }
  .review_box {
    @include flex-space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
  }
}
