@import '../../styles/reset.scss';

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin profile-img-size {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contents {
  margin-right: 250px;
  margin-bottom: 50px;
  .profile {
    margin-bottom: 15px;
    @include flex-align-center;
    .profile_image {
      margin-right: 20px;
      @include profile-img-size;
    }
    .score {
      margin-left: 70px;
      @include flex-align-center;
      span {
        margin-left: 10px;
      }
    }
  }
}
