@import '../../../styles/common.scss';

.container {
	display: flex;
	position: relative;
	font-family: $theme-font;
	color: $theme-font-color;
	
	.dropDown {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		background-color: white;
		border: $theme-border-line;
		border-radius: 8px;
		box-shadow: $tooltip-shadow;
		position: absolute;
		border-radius: 5px;
		
		.dropDownHeader {
			display: flex;
			border-bottom: $theme-border-line;
			cursor: auto;
			.dropdownCloseBtnBox {
				.dropdownCloseBtn {
					padding: 10px;
					background-color: white;
					border: none;
					&:hover {
						cursor: pointer;
					}
				}
				svg {
					font-size: 15px;
				}
			}
			.dropdownHeaderTextBox {
				min-height: 30px;
				margin-left: 40px;
				margin-right: 80px;
				p {
					padding: 15px;
					@include h3;
				}
			}
			
		}
		.dropDownSelectors {
			display:flex;
			flex-direction: column;
			align-items: stretch;
			align-content: center;
			padding: 5px 18px 10px 18px;

		}
		
	}


}
