@import '../../../styles/common.scss';

.container {
	z-index: 3;
	font-family: $theme-font;
	color: $theme-font-color;

	.confirmationMessage {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		background-color: white;
		border: $theme-border-line;
		border-radius: 8px;
		box-shadow: $tooltip-shadow;
		border-radius: 10px;
		padding: 10px;

		.messageHeader {
			display: flex;
			border-bottom: $theme-border-line;
			padding: 10px 0;

			.CloseBtnBox {
				display: flex;
				justify-content: center;
				align-items: center;
				.CloseBtn {
					padding: 10px;
					background-color: white;
					border: none;
				}

				svg {
					font-size: 20px;
					font-weight: bold;
				}
			}

			.confirmationHeaderTextBox {
				min-height: 30px;
				margin-left: 60px;
				margin-right: 80px;

				p {
					padding: 15px;
					font-size: 30px;
					font-weight: 500;
					
				}
			}

		}

		.dropDownSelectors {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: center;
			padding: 5px 18px 10px 18px;

			div {
				padding: 15px 10px;
				display: flex;
				align-items: center;
				min-height: 40px;
				border-bottom: $theme-border-line;
				font-size: 20px;
			}
		}

	}


}