.CommentWrapper {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.UserWrapper {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.NameWrapper {
  width: 200px;
}

.User {
  display: flex;
  margin-bottom: 0.5rem;
}

.Name {
  margin-right: 0.5rem;
  font-weight: bold;
}

.Room {
  width: 70%;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Date {
  font-size: 12px;
}

.CommentText {
  padding: 2rem 0;
}

.Title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  word-break: keep-all;
}

.Text {
  line-height: 1.3rem;
  word-break: keep-all;
}
