.ProfileWrapper {
  padding: 2rem;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 12px;
}
.ImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfileImg {
  margin: 0 auto 1rem;
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.input_label {
  margin-top: 20px;
}
.ImageSize {
  width: 100%;
  height: 100%;
}

.UploadBtn {
  display: none;
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
.UploadBtn::file-selector-button {
  display: none;
}

.ImgUpload {
  display: none;
}

.SubmitBtn {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}

.SelfOkay {
  padding: 3rem 0 2rem;
  border-bottom: 1px solid #ddd;
}

.SelfName {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.SelfInfo {
  line-height: 1.3rem;
  word-break: keep-all;
}

.SelfBtn {
  margin: 1rem 0 0;
  padding: 10px 20px;
  font-size: 1.1rem;
  background: none;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}

.FreeUser {
  padding: 2rem 0 0;
}

.CheckMe {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.CheckUser {
  line-height: 1.3rem;
  display: flex;
}
.Check_user {
  margin-inline-start: 10px;
}
