.ProfileWrapper {
  //section`
  position: fixed;
  float: left;
  top: 15%;
  padding: 2rem;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.UserProfile {
  //div`
  position: relative;
}

.ProfileImg {
  //div`
  margin: 0 auto 1rem;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjYmlp9JDeNMaFZzw9S3G1dVztGqF_2vq9nA&usqp=CAU0');
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.ImageWrapper {
  //form`
  position: relative;
}

.UploadBtn {
  //label`
  display: block;
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.ImgUpload {
  //input`
  display: none;
}

.SubmitBtn {
  //button`
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}

.SelfOkay {
  //div`
  padding: 3rem 0 2rem;
  border-bottom: 1px solid #ddd;
}

.SelfName {
  //h5`
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.SelfInfo {
  //p`
  line-height: 1.3rem;
  word-break: keep-all;
}

.SelfBtn {
  //button`
  margin: 1rem 0 0;
  padding: 10px 20px;
  font-size: 1.1rem;
  background: none;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}

.FreeUser {
  //div
  padding: 2rem 0 0;
}

.CheckMe {
  //h4`
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.CheckUser {
  //p`
  line-height: 1.3rem;
}
