.bedRoom {
  width: 100%;
  height: 170px;
  min-height: 30px;
  margin: 5% 5%;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.bedRoom > p {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.container {
  margin: 3% 3%;
}

.fontSize {
  font-size: 20px;
}
