.filter {
  width: 780px;
  max-width: 55%;
  height: 90%;
  background-color: white;
  border-radius: 20px;
}
.filterBtn {
  margin-left: 70px;
  margin-top: 0.7%;
  border: 1px solid rgb(211, 211, 211);
  background-color: white;
  width: 80px;
  height: 45px;
  border-radius: 99px;
  font-size: 15px;
  font-weight: 600;
}

.filterBtn:hover {
  box-shadow: 10px 10px 40px #ddd;
  color: whitesmoke;
  background-color: rgb(74, 74, 74);
  transition: all 0.5s;
  cursor: pointer;
}
