@import '../../styles/reset.scss';

.container {
  max-width: 800px;
  margin: 50px 300px;
}

.info {
  font-weight: 600;
  font-size: 20px;
  margin: 30px;
}

.wishList {
  display: flex;
  margin-top: 70px;
  padding-bottom: 30px;
  width: 1000px;
  height: 300px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.title {
  position: relative;
  left: 100px;
  margin: 70px;
  font-weight: 900;
  font-size: 50px;
}

.name {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 900;
}

.price {
  position: relative;
  font-size: 25px;
  margin-top: 15px;
  font-weight: 400;
  left: 10px;
}

.backBtn {
  display: flex;
  justify-content: center;

  border-radius: 99px;
  width: 45px;
  margin: 30px;
}

.backBtn:hover {
  box-shadow: 10px 10px 40px #ddd;
  color: rgb(0, 0, 0);
  background-color: rgb(234, 234, 234);
  transition: all 0.5s;
  cursor: pointer;
}
