@import '../../../styles/reset.scss';

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.MakeReview {
  background-color: white;
  @include flex-column-center;
  padding: 10px;
  border-radius: 20px;
}
.container {
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
  .review_info_box {
    margin-bottom: 30px;
    .room_name {
      margin-top: 5px;
      text-align: left;
    }
  }
  .score {
    margin-bottom: 30px;
    h2 {
      margin-bottom: 10px;
    }
    .background_star {
      position: relative;
      font-size: 2rem;
      color: #ddd;
      input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }
      .star {
        width: 0;
        position: absolute;
        left: 0;
        color: #ff385c;
        overflow: hidden;
        pointer-events: none;
      }
    }
  }
  .comment {
    margin-bottom: 30px;
    h2 {
      margin-bottom: 10px;
    }
    textarea {
      width: 400px;
      height: 200px;
    }
  }
  button {
    display: block;
    margin: 0 auto;
  }
}
