@import '../../styles/reset.scss';

.background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  display: inline-block;
  width: 780px;
  max-width: 55%;
  height: 90%;
  background-color: white;
  border-radius: 20px;
}
