.b {
  padding: 5rem 0;
  margin: 0 auto;
  width: 1200px;
}

.MyLog-jh {
  float: right;
  width: 820px;
}

.HelloUser {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.Title {
  padding-top: 10px;
  font-size: 1.2rem;
}

.MyName {
  font-size: 2.2rem;
}

.Name {
  font-weight: bold;
}

.NextTitle {
  margin-top: 3rem;
  padding-top: 10px;
  font-size: 1.2rem;
  text-align: right;
}
