.MyPageWrapper {
  padding: 5rem 0;
  margin: 0 auto;
  width: 1200px;
}

.MyLog-box {
  float: right;
  width: 750px;
}

.HelloUser {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.List-box {
  border: 1px solid rgb(255, 56, 92);
  width: 600px;
  height: 200px;
}

.Title-history {
  display: flex;
  padding-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.MyName {
  font-size: 2.2rem;
}

.Name {
  font-weight: bold;
  color: rgb(255, 56, 92);
}

.NextTitle {
  margin-top: 3rem;
  padding-top: 10px;
  font-size: 1.2rem;
  text-align: right;
}
.navigation_bar {
  display: flex;
  flex-direction: column;
}
