.Navigation {
  border: 2px solid red;
  display: flex;
  align-items: center;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(255, 56, 92);
  font-weight: 600;
  font-size: 18px;
}
