@import '../../styles/common.scss';

.container {
  border: $theme-border-line;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 25px 100px;
  font-family: $theme-font;
  color: $theme-font-color;

  &.search_closed {
    align-items: center;
  }

  &.search_open {
    align-items: flex-start;
    
  }

}

.logo {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  background-color: white;
  color: $theme-color;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.search {
  box-shadow: 1px 1px 10px 1px gray;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 300px;
  padding: 10px;
  cursor: pointer;
}

.container_right {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
}
.container_menu {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 999px;
  width: 1cm;
  align-items: center;
}

.container_login {
  border-radius: 999px;
  display: flex;
  justify-content: center;
  width: 2cm;
  cursor: pointer;
}

.container_signup {
  border-radius: 999px;
  display: flex;
  justify-content: center;
  width: 2cm;
  cursor: pointer;
}

.container_myPage {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
