@import '../../styles/common.scss';

.container {
  //   border: 1px solid red;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //box-shadow: 1px 1px 10px 1px gray;
  border-top: 1px solid rgb(235, 235, 235);
  background-color: #ffffff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 89px;
  width: 100%;
  font-family: $theme-font;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600px;
  margin-right: 4%;
}

.arguments {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 45px;
  margin: 0px 10px;
  border-bottom: 0.5px solid rgb(220, 220, 220);
}

.infomation {
  display: flex;
  align-items: center;
}
.footer1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.etcs {
  margin-top: 5px;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
}
.etc {
  font-size: 13px;
  color: rgb(112, 112, 112);
}
