@import '../../styles/reset.scss';
@import '../../styles/common.scss';

@mixin button-style-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
// @mixin flex-space-around {
//   display: flex;
//   justify-content: space-around;
// }
@mixin flex-center {
  display: flex;
  justify-content: center;
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   align-items: center;
}
@mixin pa-ma-border-bottom {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
@mixin profile-img-size {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

// * {
//   font-family: $theme-font !important;
//   // color: $theme-font-color;
//   border: $theme-border-line;
//   // box-shadow: $darker-shadow;
// }
.container {
  width: 1200px;
  margin: 0 auto;
  @include flex-column-center;
}

.header_container {
  @include flex-column;
  padding: 20px 0;
  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .function_container {
    @include flex-space-between;
    .score {
      @include flex-align-center;
      span {
        margin-left: 10px;
      }
    }
  }
  .function_group {
    @include flex-align-center;
    .function {
      margin-left: 10px;
      @include flex-align-center;
      span {
        margin-left: 5px;
        text-decoration: underline;
      }
    }
  }
}
.image_container {
  @include flex-center;
  position: relative;
  margin-bottom: 30px;
  .image_box {
    @include flex-center;
    flex-wrap: wrap;
    .sub {
      width: 50%;
    }
  }
  .display_button {
    position: absolute;
    bottom: 15px;
    right: 10px;
    @include flex-align-center;
    span {
      margin-left: 10px;
    }
  }
}

.room_detail_container {
  @include flex-center;
  @include pa-ma-border-bottom;
  .room_detail {
    height: 900px;
    padding-right: 40px;
    .header {
      @include flex-align-center;
      justify-content: space-between;
      @include pa-ma-border-bottom;
      .profile_image {
        @include profile-img-size;
      }
      .room_contents {
        // margin-right: 10px;
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
    }
    .noti {
      @include pa-ma-border-bottom;
      .contents {
        @include flex-align-center;
        margin-bottom: 30px;
        .contents_text {
          margin-left: 15px;
        }
      }
    }
    .insurance {
      @include pa-ma-border-bottom;
      h2 {
        font-size: 30px;
        margin-bottom: 25px;
      }
    }
    .description {
      @include pa-ma-border-bottom;
    }
    .facilities {
      // @include pa-ma-border-bottom;
      .contents {
        @include flex-align-center;
        margin-bottom: 30px;
        span {
          margin-left: 10px;
        }
      }
      h2 {
        margin-bottom: 25px;
      }
      button {
        @include button-style-reset;
        border-radius: 8px;
        background-color: white;
        padding: 10px;
      }
    }
    .calendar {
      @include pa-ma-border-bottom;
    }
  }
  .reservation {
    height: 550px;
    position: sticky;
    top: 0;
  }
}
.modal {
  display: inline-block;
  width: 80%;
  // max-width: 55%;
  // height: 90%;
  background-color: white;
  border-radius: 20px;
}
.additional_inform {
  // width: 900px;
  @include pa-ma-border-bottom;
  button {
    @include button-style-reset;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
  }
  //   .instruction_container {
  //     .instruction {
  //       @include flex-space-between;
  //       padding-right: 40px;
  //     }
  //   }
}
