@import '../../styles/reset.scss';
@import './ReservationPageCommon.scss';

.container {

	font-family: $theme-font;
	font-color: $theme-font-color;

	
		min-height: 40px;
		border-bottom: $theme-border-line;
		p {
			display: block;
			width: 100%;
			padding-left: 0;
			border: none;
			background-color: white;
			text-align: left;
		}
	
}