@import '../../styles/reset.scss';
@import './ReservationPageCommon.scss';

.container {
	@include flex-v-center;
	font-family: $theme-font;
	color: $theme-font-color;
	min-height: 40px;
	border-bottom: $theme-border-line;
	&:hover {
		cursor: pointer;
	}
	
	p {
		display: block;
		width: 100%;
		padding-left: 0;
		border: none;
		background-color: white;
		text-align: left;
	}

	svg {
		opacity: 0;
	}

}