@import '../../styles/reset.scss';

$theme-border-color: rgb(221, 221, 221);
$theme-border-line : 1px solid $theme-border-color;
$theme-font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$theme-font-color: rgb(34, 34, 34) !important;
$tooltip-shadow: 0 0 2px 0 lightgrey;

.container {
	display: flex;
	align-items: stretch;
	position: relative;
}

.dropDownVisible {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	background-color: white;
	border: $theme-border-line;
	border-radius: 8px;
	box-shadow: $tooltip-shadow;
	position: absolute;
	border-radius: 5px;
	top: 50%;

	ui {
		font-size: 20px;
		display: block;
		max-width: 500px;
	}
}
