@import '../../styles/reset.scss';
@import './ReservationPageCommon.scss';

svg {
	font-size: 22px;
	@include flex-vh-center;
}

.container {
	@include flex-direction-column;
	font-family: $theme-font;
	font-color: $theme-font-color;
	font-size: 14px;
	color: #484848;
	background-color: #fff;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

.reserveBanner {
	border-bottom: $theme-border-line;
}

.reserveBannerInner {
	@include flex-v-center;
	padding: 20px;
}

.logoBox {
	@include flex-v-center;
}

img.logoToHome {
	width: 102px;
}

.reserveContentBody {
	@include flex-vh-center;	
}

.reserveContentMain {
	padding: 40px;
}

.reserveContentTitleInner {
	@include flex-v-center;
	margin: 0 0 50px 10px;

	.iconNavigateBefore {
		@include flex-vh-center;
		background-color: white;
		border: none;
		margin: 0 10px 0 0;
	}

	.reserveContentTitleText {
		margin: 0;
		font-family: inherit;
		font-size: 30px;
		font-weight: bold;
		color: $theme-font-color;
		align-items: center;
	}
}


// reserve Contents
.reserveContentSection {
	.reserveContent {
		
	
		@include flex-vh-center;
	}

}

// reserve Content left
.reserveContentLeft {

	div,
	input {
		//display: flex;
		@include flex-v-center;
	}
}



.reserveContentLeftInner {

	div,
	button,
	input {
		font-size: 16px;
	}

}

.rclPriceRateAvgContainer {
	display: flex;
	align-items: stretch;
	padding: 0 5px;

	.rclPriceRateAvg {
		position: relative;
		@include flex-direction-column;
		align-items: stretch;
		border: $theme-border-line;
		border-radius: 12px;
		color: $theme-font-color;
		font-size: 16px !important;
		line-height: 20px !important;
		padding: 30px 70px 30px 30px;
		max-width: 500px;
	}

	p {
		padding: 3px 3px 5px 0;
	}

	.priceRateSummary {
		font-weight: bold;
		padding: 0 0 10px 0;
	}

	.priceRateDetail {}

	.iconPriceTag {
		position: absolute;
		top: 19%;
		right: 5%;
		margin: 0;

		svg {
			font-size: 38px;
		}
	}
}

.rclYourTripContainer {
	padding: 30px 5px;

	.rclYourTrip {
		@include flex-direction-column;
		align-items: flex-start;

		div {
			margin: 10px 0;
		}

		p {
			margin: 5px 0;
		}


		.rclYouTripTitle {

			h2 {
				@include h2;
			}
		}

		.rclDates, .rclGuests {
			@include flex-direction-column;
			align-items: flex-start;

			h3 {
				@include h3;
			}

			p {
				margin-top: 10px;
			}

		}
	}


}


////// Pay with //////
.rclPayWithContainer {
	padding: 30px 0;
	border-top: $theme-border-line;

	input,
	button {
		padding: 10px 20px;
	}

	.rclPayWith {
		@include flex-direction-column;
		align-items: stretch;

		.rclPayWithHeader {
			@include flex-direction-column;
			align-items: stretch;

			.rclPayWithTitle {
				@include flex-direction-column;
				align-items: stretch;

				h2 {					
					@include h2;
				}
			}

			.payOptionIcons {
				margin: 5px 0;

				div {
					padding: 5px;

					svg {
						font-size: 22px;
					}
				}
			}
		}

		.payOptionSelector {
			@include flex-direction-column;
			align-items: stretch;
			margin: 5px 0;

			button.payOptionSelectorBtn {
				background-color: white;
				border: $theme-border-line;
				border-radius: 8px;
				max-width: 600px;
			}
		}

		.cardInfo {
			display: flex;
			justify-content: space-between;
			margin: 5px 0;

			.onCard {
				@include flex-direction-column;
				align-items: stretch;

				.cardInfoForm {
					@include flex-direction-column;
					align-items: stretch;
					border: $theme-border-line;
					border-radius: 8px;
					overflow: hidden;
					perspective: 1px;

					.cardNumber {
						@include flex-direction-column;
						align-items: stretch;
						border-bottom: $theme-border-line;

						.cardNumberInput {
							border: none;
						}
					}

					.cardOtherInfo {
						.cardExpiration {
							input {
								border: none;
								border-right: $theme-border-line;
							}
						}

						.cardCVV {
							input {
								border: none;
							}
						}
					}
				}

				.cardInfoPostalCode {
					margin: 10px 0;
					@include flex-direction-column;
					align-items: stretch;

					.cardPostalCodeInput {
						border: $theme-border-line;
						border-radius: 8px;
					}
				}

				.cardInfoCountry {
					@include flex-direction-column;
					align-items: stretch;

					button.cardCountryBtn {
						border: $theme-border-line;
						border-radius: 8px;
						background-color: white;
					}
				}
			}
		}

		.rclEnterCoupon {
			margin: 15px 0;
			padding: 5px;
			background-color: white;
			
			p {
				font-weight: bold;
				font-size: 18px;
				text-decoration: underline;
			}
		}
	}
}


/// Required for your trip
.rclRequirements {
	border-top: $theme-border-line;
	margin: 5px 0;
	padding: 40px 0;

	.rclRequirementsInner {
		@include flex-direction-column;
		align-items: flex-start;
		
		h2 {
			margin: 5px 0;
			@include h2;
		}
		h3 {
			margin: 5px 0;
			@include h3;
		}

		p {
			margin: 5px 0;
			padding: 0 30px 0 0;
			font-size: 14px;
		}

		.hostProfile{
			margin: 10px;
			.hostProfilePhotoContainer {
				img.hostProfilePhoto {
					width: 40px;
					margin: 10px;
				}
			}
	
			.hostProfileDescription {
				@include flex-direction-column;
				align-items: flex-start;
				.hostName {
					@include h3
				}
			}
		}
	}
}
///////////////////////////////////

// Cancellation Policy
.rclCancellationPolicy {
	border-top: $theme-border-line;
	.rclCancellationPolicyInner {
		@include flex-direction-column;
		align-items: stretch;
		margin-top: 30px;
		h2 {
			margin: 0 0 20px 0;
			@include h2;
		}
		p {
			margin: 5px 0;
			span {
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
}

.rclAgreementUpon {
	border-top: $theme-border-line;
	margin-top: 30px;
	.rclAgreementUponInner{
		p {
			margin: 30px 0;
			font-size: 12px;
			max-width: 400px;
		}
	}
}

.rclConfirmAndPayBtn {
	padding: 18px 35px;
	border: none;
	border-radius: 8px;
	background-color: #e21960;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

// reserve Content Right
@media screen and (max-width: 700px) {
	.reserveContentRight {
		display: none;
	}
}

.reserveContentRight {
	position: fixed;
	top: 25%;
	border: .1px solid $theme-border-color;
	border-radius: 12px;
	max-width: 400px;
	margin-left: 55px;
	.rcrPinnedBox {
		padding: 20px;
		.rcrAccommodationSummary {
			.rcrAccommodationSummaryInner {
				display: flex;
				.accommodationPhotoBox{
					.accommodationPhoto{
						width: 130px;
						height: 100px;
						border-radius: 8px;
					}
				}

				.accommodationDescription {
					position: relative;
					padding: 0 10px;
					.roomType {
						
					}

					.roomName {
						margin-top: 10px;
						margin-bottom: 10px;
						font-size: 16px;	
					}

					.roomEtcInfo {
						position: absolute;
						bottom: 5px;
						svg {
							font-size: 13px;
						}
						@include flex-v-center;
						
						.roomRate {
							@include flex-v-center;
						}
						
						.roomHostType {
							@include flex-v-center;
						}
						

					}
				}
			}

		}
		.rcrAircover {
			margin: 30px 0;
			border-top: $theme-border-line;
			border-bottom: $theme-border-line;
			.rcrAircoverInner {
				padding: 25px 0;
				font-size: 16px;
			}
		}

		.rcrPriceDetails {
			margin: 20px 0;
			.rcrPriceDetailsInner {
				h2 {
					@include h2;
				}

				.rcrPriceBreakDown {
					@include flex-direction-column;

					.priceByNights {
						display: flex;
					}
					
				}
			}

		}
		
		.rcrTotal {

		}
	}
}



.reserveContentFooter {
	position: relative;
	bottom: 10px;
}