@import '../../styles/reset.scss';
@import './ReservationPageCommon.scss';

.container {
	position: fixed;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 3;
	font-family: $theme-font;
	color: $theme-font-color;

	.confirmationMessage {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		background-color: white;
		border: $theme-border-line;
		border-radius: 8px;
		box-shadow: $tooltip-shadow;
		position: absolute;
		border-radius: 5px;

		.messageHeader {
			display: flex;
			border-bottom: $theme-border-line;

			.CloseBtnBox {
				.CloseBtn {
					padding: 10px;
					background-color: white;
					border: none;
				}

				svg {
					font-size: 15px;
				}
			}

			.confirmationHeaderTextBox {
				min-height: 30px;
				margin-left: 60px;
				margin-right: 80px;

				p {
					padding: 15px;
					@include h3;
					
				}
			}

		}

		.dropDownSelectors {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: center;
			padding: 5px 18px 10px 18px;

			div {
				min-height: 40px;
				border-bottom: $theme-border-line;
			}
		}

	}


}